@import "../../app-variables.scss";
@import "../../app-own-head.scss";
.our-team {
    padding: 9rem 0;
}

.our-foot {
}
// team

.duble-item {
    display: flex;
    flex-direction: column;
}

.rate {
    padding-top: 4rem;
    span {
        font-size: 2rem;
        color: $light-whit-smoke-color;
    }
    h6 {
        color: $dark-color;
        font-size: 1.1rem;
    }
}
//start items
.team {
    display: flex;
    flex-wrap: wrap;
}
.team-items {
    align-items: stretch;
    position: relative;
}
.team-item {
    min-height: 30px;
}
.team-img {
    width: 100%;
  //  transition: .5s ease-in-out;
}
.img-cover {
    &:hover  {
        background-color:$cover-color;
        color: #fff;
        //  &+.team-item .team-img{
        //     filter: blur(2px);
        //  }
    }
  
        color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;

    h6 {
        font-size: 2rem;
    }
    span {
        padding-top: 3rem;
        font-size: 1.1rem;
    }
}

@media (max-width: 494px) {
    .team-items {
        flex-basis: 100%;
    }
}
@media (min-width: 494px) {
    .team-items {
        flex-basis: 50%;
    }
}
@media (min-width: 1020px) {
    .team-items {
        flex-basis: 20%;
    }
}
//end items
