<app-header></app-header>
<app-page-header></app-page-header>
<section class="single-team">
    <div class="container-xl">
        <div class="information">
            <div class="single-image">
                <img class="member-image" src="/assets/images/image1-single-team.jpg" alt="">
            </div>
            <div class="single-info">
                <div class="info-card">
                    <div class="mb-5">
                        <h2 class="info-title mb-2">Olivia Peterson</h2>
                        <span class="info-dis-span ">[ INTERIOR DESIGNER ]</span>
                    </div>
                    <div>
                        <div class="mb-3"><span class="question">DEPARTMENT: </span> <span
                                class="answer">olivia.peterson@mail.com</span> </div>
                        <div class="mb-3"><span class="question">DEPARTMENT: </span> <span
                                class="answer">olivia.peterson@mail.com</span> </div>
                        <div class="mb-3"><span class="question">DEPARTMENT: </span> <span
                                class="answer">olivia.peterson@mail.com</span> </div>
                        <div class="mb-3"><span class="question">DEPARTMENT: </span> <span
                                class="answer">olivia.peterson@mail.com</span> </div>
                        <div class="social-icons d-flex justify-content-start">
                            <div class="social-icon"><img class="img-social-icon" src="\assets\images\instagram.svg"
                                    alt="">
                            </div>
                            <div class="social-icon"><img class="img-social-icon" src="\assets\images\facebook.svg"
                                    alt="">
                            </div>
                            <div class="social-icon"><img class="img-social-icon" src="\assets\images\linkedin.svg"
                                    alt="">
                            </div>
                            <div class="social-icon"><img class="img-social-icon" src="\assets\images\twitter.svg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="long-dis ">
            <h4 class="mb-3 title">Biography</h4>
            <p class="message">Olivia was elected to judge the 3-rd edition of Dezeen Awards. Having many years of expertise in the
                design of residential and public spaces — the founder and chief architect of Theratio and author of FAIN
                will look at the best entries from all over the world. Excited and proud of being named the best in
                creating offices this year — only 5 small workspace interiors around the world and we are among them!
                Feeling so powerful to break the boundaries and build new design. Every element of the system is made
                with exquisite goose down padding to ensure maximum comfort, features cushions finished with a piping
                that defines their profile and a distinctive aluminium strip, slightly rounded at the edges which skims
                the floor, in a brand new polished Brandy colour finish.</p>
        </div>
        <div class="send-message">
            <h4 class="title">Contact Us</h4>
            <span class="message">Your email address will not be published. Required fields are marked *</span>
            <form action="">
                <div class="row">
                    <div class="col-lg-6"><input type="text" placeholder="Enter Your Name" class="send-input"></div>
                    <div class="col-lg-6"><input type="text" placeholder="Enter Your Email" class="send-input"></div>
                </div>
                <input type="text" placeholder="Enter Your Website" class="send-input">
                <textarea name="" id="" placeholder="Enter Your Message" class="send-input" cols="30" rows="10"></textarea>
            </form>
        </div>
    </div>
</section>
<app-footer></app-footer>