<app-header></app-header>
<app-page-header></app-page-header>
<section class="portfolio">
    <div class="container-xl content">
        <div class="own-head">
            <span>[ OUR PORTFOLIO ]</span>
            <h2>Some of Our Works <br>
                and Case Studies for Clients
            </h2>
        </div>
        <div class="portfolio-category">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</section>
<app-footer></app-footer>