@import "../../app-variables.scss";
@import "../../app-own-head.scss";
.portfolio {
    background-color: $text-color;
}
.content {
    padding: 9rem 0;
}
.navbar {
    width: fit-content;
    margin: 0 auto;
    font-weight: 600;
}
.nav-link {
    position: relative;
    overflow: hidden;
    margin: 0 1rem;

    &:hover {
        &::after {
            left: 0;
        }
    }
    &::after {
        transition: 0.3s ease-in-out;
        position: absolute;
        content: "";
        width: 95px;
        height: 17px;
        bottom: 0;
        left: -100px;
        background-color: $hover-link-color;
    }
}
//decore
.decores {
    display: flex;
    flex-wrap: wrap;
}
.decore {
    padding: 1rem;
    position: relative;
}
.img-decore {
    width: 100%;
    height: 100%;
}
//decore cover
.cover-decore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 1rem;
    transition: 0.4s ease-in-out;
    h6 {
        font-size: 1.5rem;
        padding: 0.5rem;
        color: transparent;
    }
    span {
        padding-top: 1rem;
        font-size: 1.1rem;
        color: transparent;
    }
    &:hover {
        background-color: $cover-color;
        h6 {
            color: $text-color;
        }
        span {
            color: $gray-light-color-hash;
        }
    }
}
//btn
.btn-parent {
    padding-top: 3rem;
}
.btn-load-decore {
    text-decoration: none;
    color: $text-color;
    background-color: $dark-color;
    padding: 1rem 2.2rem;
    transition: 0.4s ease-in-out;
    &:hover {
        border: 1px solid $dark-color;
        color: $dark-color;
        background-color: transparent;
    }
}
@media (max-width: 622px) {
    .decore {
        flex-basis: 100%;
    }
}
@media (min-width: 623px) {
    .decore {
        flex-basis: 50%;
    }
}
@media (min-width: 990px) {
    .decore {
        flex-basis: 33.33%;
    }
}
