.own-head {
    text-align: center;
    padding-bottom: 7rem;
    span {
        color: #9f9e9e;
        font-size: 0.9rem;
        font-weight: 600;
    }
    h2 {
        font-size: 2.5rem;
        margin: 1rem 0 3rem;
        position: relative;
        width: fit-content;
        margin: 0 auto;
        &::after {
            font-size: 1.8rem;
            content: "...........";
            position: absolute;
            top: 100%;
            left: 40%;
        }
    }
}