$dark-color:#1a1a1a;
$cover-color:#1a1a1a91;
$gray-color: #2a2a2a;
$color-6f:#6f6f6f;
$light-whit-smoke-color:#c2c2c2;
$gray-light-color: rgba(245, 245, 245, 0.37);
$gray-light-color-hash:rgb(206, 206, 206);
$whit-smoke-color: rgba(245, 245, 245, 0.61);
$text-color: #fff;
