<section class=" team-skill ">
    <div class="container-lg d-flex  ">

        <!-- <div class="skill-image order-2 "><img class="" src="/assets/images/image1-team.png" alt=""></div> -->
        <img class="skill-image order-2" src="/assets/images/image1-team.png" alt="">
        <div  class="skill-show d-flex justify-content-center flex-column flex-shirink-1 ">
            <div class="skill-title">
                <span class="mb-2">[our team]</span>
                <h2>Only High Quality Team</h2>
            </div>
            <p>We are constantly growing, learning, and improving and our partners are steadily increasing. 200 projects
                is a sizable number.</p>
            <div class="ranges">
                <div class="range mb-4">
                    <span class="range-title">INTERIOR SKETCH</span>
                    <div class="range-item" [style.width.%]="INTERIORSKETCH"><span>{{INTERIORSKETCH}}%</span></div>
                </div>
                <div class="range mb-4">
                    <span class="range-title">3D MODELING</span>
                    <div class="range-item"  [style.width.%]="MODELING"><span>{{MODELING}}%</span></div>
                </div>
                <div class="range mb-4">
                    <span class="range-title">2D PLANNING</span>
                    <div class="range-item"  [style.width.%]="PLANNING"><span>{{PLANNING}}%</span></div>
                </div>
                <div class="range mb-4">
                    <span class="range-title">INTERIOR DESIGN</span>
                    <div class="range-item"  [style.width.%]="INTERIORDESIGN"><span>{{INTERIORDESIGN}}%</span></div>
                </div>
            </div>
        </div>
    </div>
</section>