//variables
$border-color: rgba(245, 245, 245, 0.644);
//scss
.main {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.226)),
        url("/assets/images/loginbackground.png");
}
//form
.form-title {
    min-height: 6.5rem;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.849);
}
.form-card {
    transition: .4s ease-in-out;
    width: 17rem;
    max-width: 22rem;
    padding: 2rem;
    border: 2px solid $border-color;
    border-radius: 5px;
    margin: 2rem 3rem ;
    display: block;
    input:not([type="checkbox"]) {
        background-color: transparent;
        border: 2px solid $border-color;
        border-radius: 5px;
        padding: 1rem;
        color: $border-color;
        margin: 1rem 0;
        width: 18rem;
    }
    input:hover {
        border-color: whitesmoke;
    }
}
.form-card:hover{
    border-color: whitesmoke;
    box-shadow:  inset 0px 0px 17px -2px whitesmoke;
}


label {
    margin-right: 1.5rem;
    color: rgba(255, 255, 255, 0.849);
}
.checkdiv {
    margin: 2rem 0;
}
//btn
.login-form-btn {
    font-weight: 600;
    color: black;
    background: rgba(245, 245, 245, 0.856);
   width: 18rem;
    padding: 1rem;
    margin: 1rem 0;
    transition: .4s ease-in-out;
}
.login-form-btn:hover {
    background: white;
    box-shadow:   0px 0px 17px -7px whitesmoke;
  
}
//media
 @media (max-width:492px){
     //form
    .form-card{
        margin: 2rem auto 0;
        input:not([type="checkbox"]) {   width: 14rem;}
        div{
            text-align: center;
        }
        //btn
        }
        .login-form-btn{
            width: 14rem;
        }
 
 }
