
<header #header (scroll)="onWindowScroll($event)" class="container-fluid header d-flex align-items-stretch justify-content-between">
  <!-- site logo -->
  <div class="logos">
    <img src="\assets\images\logo.svg" class="logo" alt="icon">
  </div>

  <!-- menu -->
  <!-- <menu class="center-menu"> -->
  <ul class="center-menu nav justify-content-center">
    <li class="nav-item position-relative">
      <a class="nav-link link-active" href="#">home</a>
      <!-- dop down -->
      <div class="drop-down-list active-drop-down">
        <div class="row">
          <div class="col-md-12">
            <ul class="list-group">
              <li class="list-group-item"><a class="link-in-drop">Lorem, ipsum.</a></li>
              <li class="list-group-item"><a  class="link-in-drop">Lorem, ipsum dolor.</a></li>
              <li class="list-group-item"><a  class="link-in-drop">Lorem.</a></li>
              <li class="list-group-item"><a  class="link-in-drop"> Lorem ipsum dolor sit.</a></li>
              <li class="list-group-item"><a  class="link-in-drop"> Lorem, ipsum.</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end dop down -->
      <div class="drop active-drop position-absolute"></div>
    </li>
    <li class="nav-item position-relative">
      <a class="nav-link " href="#">pages</a>
      <!-- dop down -->
      <div class="drop-down-list active-drop-down">
        <div class="row">
          <div class="col-md-12">
            <ul class="list-group">
              <li class="list-group-item"><a class="link-in-drop">Lorem, ipsum.</a></li>
              <li class="list-group-item"><a  class="link-in-drop">Lorem, ipsum dolor.</a></li>
              <li class="list-group-item"><a  class="link-in-drop">Lorem.</a></li>
              <li class="list-group-item"><a  class="link-in-drop"> Lorem ipsum dolor sit.</a></li>
              <li class="list-group-item"><a  class="link-in-drop"> Lorem, ipsum.</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end dop down -->
      <div class="drop active-drop position-absolute"></div>
    </li>
    <li class="nav-item position-relative">
      <a class="nav-link" href="#">blog</a>
      <!-- dop down -->
      <div class="drop-down-list active-drop-down">
        <div class="row">
          <div class="col-md-12">
            <ul class="list-group">
              <li class="list-group-item"><a class="link-in-drop">Lorem, ipsum.</a></li>
              <li class="list-group-item"><a  class="link-in-drop">Lorem, ipsum dolor.</a></li>
              <li class="list-group-item"><a  class="link-in-drop">Lorem.</a></li>
              <li class="list-group-item"><a  class="link-in-drop"> Lorem ipsum dolor sit.</a></li>
              <li class="list-group-item"><a  class="link-in-drop"> Lorem, ipsum.</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end dop down -->
      <div class="drop active-drop position-absolute"></div>
    </li>
    <li class="nav-item position-relative">
      <a class="nav-link " href="#">services</a>
      <!-- dop down -->
      <!-- dop down -->
      <div class="drop-down-list active-drop-down">
        <div class="row">
          <div class="col-md-12">
            <ul class="list-group">
              <li class="list-group-item"><a class="link-in-drop">Lorem, ipsum.</a></li>
              <li class="list-group-item"><a  class="link-in-drop">Lorem, ipsum dolor.</a></li>
              <li class="list-group-item"><a  class="link-in-drop">Lorem.</a></li>
              <li class="list-group-item"><a  class="link-in-drop"> Lorem ipsum dolor sit.</a></li>
              <li class="list-group-item"><a  class="link-in-drop"> Lorem, ipsum.</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end dop down -->
      <!-- end dop down -->
      <div class="drop active-drop position-absolute"></div>
    </li>
    <li class="nav-item position-relative">
      <a class="nav-link " href="#">contacts</a>

    </li>
  </ul>
  <!-- </menu> -->
  <!-- left menu -->
  <div class="side-menu d-flex flex-row-reverse">
    <div class="menu-bar d-flex align-items-center">
     <a (click)="activeMenuBerger()"> <img class="menu-icon " src="\assets\images\menu.png" alt=""></a>
     
    </div>
    <div class="two-icon serch-and-buy d-flex align-items-center">

      <img class="menu-icon " src="\assets\images\shopping-bag.png" alt="">
      <img class="menu-icon " src="\assets\images\search.png" alt="">
    </div>
  </div>
  <!-- hamberger menu start -->
        <div #bergerMenu class="hamberger-menu ">
         <div class="berger-close">
           <a class="berger-close-link" (click)="closeMenuBerger()"><img class="berger-close-icon" src="/assets/images/cancel.svg" alt=""></a>
         </div>
          <ul class="list-group berger-group list-group-flush">
           
            <li class="list-group-item berger-item">
              <a class="berger-link berger-link-drop">home</a>
             
            </li>
            <li class="list-group-item berger-item"><a class="berger-link  berger-link-drop">home</a></li>
            <li class="list-group-item berger-item"><a class="berger-link  berger-link-drop">home</a></li>
            <li class="list-group-item berger-item"><a class="berger-link  berger-link-drop">home</a></li>
            <li class="list-group-item berger-item"><a class="berger-link">home</a></li>
          </ul>
        </div> 
  <!-- hamberger menu end -->
</header>